.multi button {
    overflow: hidden;
    padding: 7px 10px;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: .25%;
    position: relative;
    white-space: nowrap;
    border: 1px solid transparent; 
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
    cursor: pointer;
}
.multi button::after {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px #c4c4c4 solid;
    border-bottom: 2px #c4c4c4 solid;
    content: " ";
    right: 12px;
    top: 10px;
    transform: rotate(-45deg);
    transition: transform .5s ease-in-out;
}
.multi.opened button::after {
    transform: rotate(135deg) translateY(-2px);
}
.multi__inner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
}
.multi__inner i {
    width: 22px;
    height: 18px;
    border-radius: 3px;
    background: #aeaeae;
    color: white;
    display: block;
    position: absolute;
    right: 40px;
    top: 10px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
.multi__inner i:empty {
    display: none;
}
.multi__dropdown {
    padding: 0;
    margin: .125rem 0 0;
    min-width: 300px;
    position: absolute;
    background-color: #fff;
    margin-top: -1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
    z-index: 9;
    transition: transform .7s ease-in-out;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
}
.multi.opened .multi__dropdown {
    display: block;
}
.multi__dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.multi__dropdown ul li {
    cursor: pointer;
    transition: all .2s ease-in-out;
    min-height: 12px;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    color: #474747;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 40px;
}
.multi__dropdown ul li:hover {
    background-color: #f7f7f7;
}
.multi__dropdown ul li.selected:hover {
    background-color: #f7f7f7; 
}
.multi__dropdown ul li.selected::after {
    position: absolute;
    display: block;
    width: 12px;
    height: 5px;
    border-left: 3px #1890ff solid;
    border-bottom: 2px #1890ff solid;
    content: " ";
    right: 15px;
    margin-top: -15px;
    transform: rotate(-45deg);
}

.multi__dropdown ul li#selectAll {
    border-bottom: 1px #e9e9e9 solid;
}

.multi button:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.multi button:active {
    background-color: #f8f8f8
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
}